form{
    gap: 1rem; 
    display: flex; 
    flex-direction: column;
    width: 100%; 
    max-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    background:whitesmoke;
}

.form-group{ 
    gap: 1rem;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
}